src/main/mule/helloworld-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1dd7c99a-b5f0-4815-a9ff-7669cd9d3a6f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloworld-cicdFlow" doc:id="275e2b0f-e91b-4de0-881d-53fa2ef093a4" >
		<http:listener doc:name="Listener" doc:id="ccc028d0-795a-4fd3-a4b7-841b3797af00" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value="Hello World" doc:name="Set Payload" doc:id="2f767af0-7342-49ea-a417-dd8fd199c6c8" />
		<logger level="INFO" doc:name="Logger" doc:id="a6ab9d30-3c20-4fa6-be8e-1ac4545be573" message="#[paylosd]"/>
	</flow>
</mule>
